*{
    background-image:url('RPS.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}/* put this img as background*/

.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
button{
font-size: xx-large;
background:black;
border-color: cyan;
transition: all 0.07s ease;
}
.playing {
    transform: scale(1.5);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
