*{
    background-image:url('RPS.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}/* put this img as background*/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.choice{
font-size: xx-large;
color: powderblue;
background:plum;
border-color: powderblue;
transition: all 0.07s ease;
}
.playing {
    transform: scale(1.5);
    border-color: rgb(165, 37, 79);
    box-shadow: 0 0 1rem #d336a4;
    background: powderblue;
    color: plum;
  }

.announce{
    font-size: xx-large;
    background:goldenrod;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    }
.score{
    display: flex;
    gap: 30px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: xx-large;
    background: purple;
    color: yellow;
}
.player, .comp{
    background: black;
    color:yellow;
    font-size: xx-large;
}

.refresh{
    
    
    display: flex;
    justify-content: center;
}
.refresh button{
    background: palevioletred;
    color: powderblue;
    font-size: xx-large;
    transition: 0.07s ease;

}